.navbar{
    background-color:  #95CD41;
}

.nav-item{
    margin-right: 20px;
    margin-left: 20px;
}

.navbar-brand{
    font-family: 'Times New Roman', Times, serif;
}

h3{
    text-indent: 50px;
    font-size: 40px;
}

.display-5{
    text-indent: 50px;
    font-size: 20px;
    text-align: justify;
}

.tombol{
    border-radius: 5px;
    border: none;
    width: 100px;
    margin-right: 20px;
}

.navbar-toggler{
    border: 0px;
}

.text{
    color: white;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    float: right;
}

.button{
    margin: 100px;
}

.navbar-toggler-icon{
    margin-left: 10px;
}

.form-control{
    border: 1px solid black;
    border-radius: 10px 10px 10px 10px;
    border-left: none;
}

.btn{
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    margin-top: 10px;
}

.kesehatan{
    text-transform: uppercase;
    font-size: 12px;
}

.form .icon{
    position: fixed;
    top: 30%;
    margin-left: 17px;
    margin-top: -112px;
    z-index: 1;
    color: #4f5b66;
  }

  .container{
      display: grid;
  }

  .card{
    width: 100%;
    height: auto;
    grid-column: span 8;
    margin: 10px 0;
    border-radius: 15px;
    position: relative;
    box-shadow: 0 10px 10px rgba(0,0,0,.1);
    padding-left: 0%;
}

/* .img{
    margin-top: 10px;
    margin-bottom: 0px;
    border: solid white; 
    border-radius: 10px;
} */

/*responsive mobile*/
@media (min-width: 720px){
    .navbar{
        margin: auto;
    }

}