body{
    font-family: 'Ubuntu', sans-serif;
}

.display-5{
    font-size: 20px;
    margin-top: 10%;
    margin-bottom:10%;
    margin-left: 28%;
    color: white;
}

.bawah{
    margin-top: 4%;
    margin-left: -1%;
}

.heading{
    color: white;
    font-weight: bold;
    margin-top: 25%;
    margin-left: -9%;
    font-size: 25px;
}

.gambar{
    padding: 0%;
    margin-left: 40%;
}

.kementrian{
    padding: 0%;
    margin-left: -20%;
}

.vertical{
    /*mengatur display pembungkus tag hr*/
    display: flex;
  }

  .form-control{
    border-radius: 10px 10px 10px 10px;
    border-left: none;
    box-shadow: 0px 2px 0px 0px rgb(218 218 218);
}

a{
    font-size: 18px;
}

.navbar{
    margin-top: 3%;
}

#form-control, #form-select{
    border-left: none;
    border-right: none;
    border-top: none;
    margin-left: 5%;
    width: 80%;
}

#display-6{
    margin-left: 6%;
    font-size: 20px;
    margin-bottom: 5%;
}

/*batas*/

.text{
    color: white;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    float: center;
}

.person{
    text-align: center;
    margin: 5px;
    float: right;
}

.navbar-toggler-icon{
    margin-left: 10px;
}

/* .form-control{
    border: 1px solid black;
    border-radius: 10px 10px 10px 10px;
} */

.kesehatan{
    text-transform: uppercase;
    font-size: 12px;
}

  .card{
    width: 100%;
    height: auto;
    grid-column: span 8;
    margin: 10px 0;
    border-radius: 15px;
    position: relative;
    box-shadow: 0 10px 10px rgba(0,0,0,.1);
    padding-left: 0%;
}

.img{
    margin-top: 10px;
    margin-bottom: 0px;
    border: solid white; 
    border-radius: 10px;
}

.kedua{
    background-color: #ffffff ;
    box-shadow: 3px 3px 20px 3px rgb(178, 178, 184);
    padding-top: 0%;
    border-radius: 10px;
    margin-bottom: 50px;
}

.btn{
    margin-left: 30px;
}