.navbar{
    background-color: #95CD41;
    height: 40px;
    padding-top: 0%;
}

.navbar-toggler{
    border: 0px;
}

.text{
    color: white;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    float: center;
}

.person{
    text-align: center;
    margin: 5px;
    float: right;
}

.navbar-toggler-icon{
    margin-left: 10px;
}

.form-control{
    border: 1px solid black;
    border-radius: 10px 10px 10px 10px;
    border-left: none;
}

.kesehatan{
    text-transform: uppercase;
    font-size: 12px;
}

/* .form .icon{
    position: fixed;
    top: 30%;
    margin-left: 17px;
    margin-top: -112px;
    z-index: 1;
    color: #4f5b66;
  } */

  .container{
      display: grid;
  }

  .card{
    width: 100%;
    height: auto;
    grid-column: span 8;
    margin: 10px 0;
    border-radius: 15px;
    position: relative;
    box-shadow: 0 10px 10px rgba(0,0,0,.1);
    padding-left: 0%;
}

.img{
    margin-top: 10px;
    margin-bottom: 0px;
    border: solid white; 
    border-radius: 10px;
}
