#gambar{
    padding: 0%;
    margin-left: 40%;
}

.kementrian{
    padding: 0%;
    margin-left: -20%;
}

.vertical{
    /*mengatur display pembungkus tag hr*/
    display: flex;
  }

  .form-control{
    border-radius: 10px 10px 10px 10px;
    border-left: none;
    box-shadow: 0px 2px 0px 0px rgb(218 218 218);
}

a{
    font-size: 18px;
}

.navbar{
    margin-top: 3%;
}

body{
    font-family: 'Ubuntu', sans-serif;
}

#display-5{
    font-size: 20px;
    margin-top: 10%;
    margin-bottom:10%;
    margin-left: 28%;
    color: white;
}

.bawah{
    margin-top: 4%;
    margin-left: -1%;
}

.heading{
    color: white;
    font-weight: bold;
    margin-top: 25%;
    margin-left: -9%;
    font-size: 25px;
}

.btn{
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    margin-top: 10px;
}

.dis-5{
    text-indent: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 23px;
    color: black;
}

button{
    border: none;
    background-color: white;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 500px;
}

p{
 text-align: center;
 font-size: 14px;
 padding-bottom: 30px;
}

.article-card{
    width: 100%;
    height: auto;
    grid-column: span 8;
    margin-right: -100%;
    border-radius: 15px;
    position: relative;
    box-shadow: 0 10px 10px rgba(0,0,0,.1);
    padding-left: 0%;
    background-color: white;
}
.display-5{
    font-size: 20px;
    margin-top: 10%;
    margin-bottom:10%;
    margin-left: 28%;
    color: white;
}

.goog{
    margin-top: -13%; margin-left: 12%;
}


/*Responsive Mobile*/
@media (max-width: 720px){
    /* img{
        width: 100px;
        height: 100px;
    } */

   .article-card{
       width: 210px;
       background-color: white;
   }

   .col-3{
       margin-left: 5%;
       margin-right: 20%;
   }

    .d-block{
        width: auto;
        height: auto;
    }

    .logo{
        width: 30px;
        height: 30px;
    }

    button{
        border: none;
        background-color: white;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 35%;
        font-size: 12px;
    }

    p{
        margin-top: 10px;
        font-size: 10px;
        margin-left: 30%;
    }

    .lagi{
        width: 200px;
        height: 100px;
        margin-left: 33%;
    }

     /* batas atas*/

    .gambar{
        padding: 0%;
        margin-left: -50%;
    }

    .navbar{
        margin-top: 7%;
        margin-left: 55%;
    }

    .form-control{
        margin-right: -75%;
    }

    /* batas atas*/

    /*footer*/
    .display-5{
        font-size: 14px;
        margin-top: 10%;
        margin-bottom:10%;
        margin-left: -1%;
        color: white;
    }

    .heading{
        color: white;
        font-weight: bold;
        margin-top: 25%;
        margin-left: -9%;
        font-size: 16px;
    }

    .konsul{
        font-size: 7px; 
        margin-top: 10%; 
        margin-bottom: 5%; 
        margin-left: -5%;
    }

    .foot{
        width: 20px;
        height: 20px;
        margin-right: 5%;
    }

    .goog, .gog{
        width: 50px;
        height: 50px;
    }

    .goog{
        margin-left: 13%;
        margin-top: -13%;
    }

}