/* .navbar{
    background-color:  #95CD41;
}

.nav-item{
    margin-right: 20px;
    margin-left: 20px;
}

.navbar-brand{
    font-family: 'Times New Roman', Times, serif;
}

.navbar-toggler{
    border: 0px;
} */

body{
    font-family: 'Ubuntu', sans-serif;
}

.display-5{
    font-size: 20px;
    margin-top: 10%;
    margin-bottom:10%;
    margin-left: 28%;
    color: white;
}

.bawah{
    margin-top: 4%;
    margin-left: -1%;
}

.heading{
    color: white;
    font-weight: bold;
    margin-top: 25%;
    margin-left: -9%;
    font-size: 25px;
}

.gambar{
    padding: 0%;
    margin-left: 40%;
}

.kementrian{
    padding: 0%;
    margin-left: -20%;
}

.vertical{
    /*mengatur display pembungkus tag hr*/
    display: flex;
  }

  .form-control{
    border-radius: 10px 10px 10px 10px;
    border-left: none;
    box-shadow: 0px 2px 0px 0px rgb(218 218 218);
}

a{
    font-size: 18px;
}

.navbar{
    margin-top: 3%;
}

#form-control, #form-select{
    border-left: none;
    border-right: none;
    border-top: none;
    margin-left: 5%;
    width: 80%;
}

#display-6{
    margin-left: 6%;
    font-size: 20px;
    margin-bottom: 5%;
}

/*batas*/

.text{
    color: white;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    text-indent: 30px;
}

.person{
    text-align: center;
    margin: 5px;
    margin-left: 50px;
}

.navbar-toggler-icon{
    margin-left: 10px;
}

.kedua{
    background-color: #ffffff ;
    box-shadow: 3px 3px 20px 3px rgb(178, 178, 184);
    padding-top: 0%;
    border-radius: 10px;
}

.profile{
    text-transform: uppercase;
    font-weight: bold;
    text-indent: 70px;
    margin-top: 50px;
}

.img{
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 20px;
}

.btn{
    margin-left: 30px;
}

.lokasi{
    text-transform: uppercase;
    font-weight: bold;
    text-indent: 70px;
    margin-top: 50px;
}

.img-2{
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 20px;
}

.lima{
    margin-top: 30px;
    margin-left: 80px;
}

/*responsive mobile*/
@media (max-width: 720px){
 .jadwal{
        margin-left: 90px;
 }

 /* batas atas*/

 .gambar{
    padding: 0%;
    margin-left: -50%;
}

.navbar{
    margin-top: 7%;
    margin-left: 55%;
}

.form-control{
    margin-right: -75%;
}

/* batas atas*/

/*footer*/
.display-5{
    font-size: 14px;
    margin-top: 10%;
    margin-bottom:10%;
    margin-left: -1%;
    color: white;
}

.heading{
    color: white;
    font-weight: bold;
    margin-top: 25%;
    margin-left: -9%;
    font-size: 16px;
}

.konsul{
    font-size: 7px; 
    margin-top: 10%; 
    margin-bottom: 5%; 
    margin-left: -5%;
}

.foot{
    width: 20px;
    height: 20px;
    margin-right: 5%;
}

.goog, .gog{
    width: 50px;
    height: 50px;
}

.goog{
    margin-left: 13%;
    margin-top: -13%;
}
}