.navbar{
    background-color:  #95CD41;
}

.nav-item{
    margin-right: 20px;
    margin-left: 20px;
}

.navbar-brand{
    font-family: 'Times New Roman', Times, serif;
}

.navbar-toggler{
    border: 0px;
}

.text{
    color: white;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    text-indent: 30px;
}

.person{
    text-align: center;
    margin: 5px;
    margin-left: 50px;
}

.navbar-toggler-icon{
    margin-left: 10px;
}

.kedua{
    background-color: #ffffff ;
    box-shadow: 3px 3px 20px 3px rgb(178, 178, 184);
    padding-top: 0%;
    border-radius: 10px;
}

.profile{
    text-transform: uppercase;
    font-weight: bold;
    text-indent: 70px;
    margin-top: 50px;
}

.img{
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 20px;
}

.btn{
    margin-left: 30px;
}

.lokasi{
    text-transform: uppercase;
    font-weight: bold;
    text-indent: 70px;
    margin-top: 50px;
}

.img-2{
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 20px;
}

.lima{
    margin-top: 30px;
    margin-left: 80px;
}

/*responsive mobile*/
@media (max-width: 720px){
 .jadwal{
        margin-left: 90px;
 }

 h5{
     
 }
}