.navbar {
    background-color: #95CD41;
    height: 40px;
    padding-top: 0%;
}

.navbar-toggler {
    border: 0px;
}

.text {
    color: white;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    float: center;
}

.person {
    text-align: center;
    margin: 5px;
    float: right;
}

.navbar-toggler-icon {
    margin-left: 10px;
}

.form-control {
    border: 1px solid black;
    border-radius: 10px 10px 10px 10px;
    border-left: none;
}

.kesehatan {
    text-transform: uppercase;
    font-size: 12px;
}

/* .form .icon{
    position: fixed;
    top: 30%;
    margin-left: 17px;
    margin-top: -112px;
    z-index: 1;
    color: #4f5b66;
  } */

.container {
    display: grid;
}

.card {
    width: 100%;
    height: auto;
    grid-column: span 8;
    margin: 10px 0;
    border-radius: 15px;
    position: relative;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .1);
    padding-left: 0%;
}

.img {
    margin-top: 10px;
    margin-bottom: 0px;
    border: solid white;
    border-radius: 10px;
}

.pengaturan {
    background-color: #95CD41;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 45px;
    padding-top: 6px;
}

.pengaturan h1 {
    font-size: 18px;
    line-height: 0px;
}

.kotak {
    height: 45px;
    background-color: #8B8B8B;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 45px;
    padding-top: 6px;
    box-shadow: 0px 0px 5px
}

.kotak h1 {
    font-size: 18px;
    line-height: 0px;
}

.kotak2 {
    height: 45px;
    background-color: #FFFFFF;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    height: 45px;
    padding-top: 6px;
    box-shadow: 0px 0px 5px
}

.kotak2 h1 {
    font-size: 18px;
    line-height: 0px;
}

.kotak3 {
    height: 45px;
    background-color: #FFFFFF;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    height: 45px;
    padding-top: 6px;
    box-shadow: 0px 0px 5px
}

.kotak3 h1 {
    font-size: 18px;
    line-height: 0px;
}

.kotak4 {
    height: 45px;
    background-color: #FFFFFF;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    height: 45px;
    padding-top: 6px;
    box-shadow: 0px 0px 5px
}

.kotak4 h1 {
    font-size: 18px;
    line-height: 0px;
}

.kotak5 {
    height: 45px;
    background-color: #FFFFFF;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    height: 45px;
    padding-top: 6px;
    box-shadow: 0px 0px 5px
}

.kotak5 h1 {
    font-size: 18px;
    line-height: 0px;
}

.kotak6 {
    height: 45px;
    background-color: #FFFFFF;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    height: 45px;
    padding-top: 6px;
    box-shadow: 0px 0px 5px
}

.kotak6 h1 {
    font-size: 18px;
    line-height: 0px;
}

.kotak7 {
    height: 45px;
    background-color: #FFFFFF;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    height: 45px;
    padding-top: 6px;
    box-shadow: 0px 0px 5px
}

.kotak7 h1 {
    font-size: 18px;
    line-height: 0px;
}

.kotak8 {
    height: 45px;
    background-color: #FFFFFF;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    height: 45px;
    padding-top: 6px;
    box-shadow: 0px 0px 5px
}

.kotak8 h1 {
    font-size: 18px;
    line-height: 0px;
}

.kotak9 {
    height: 45px;
    background-color: #FFFFFF;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    height: 45px;
    padding-top: 6px;
    box-shadow: 0px 0px 5px
}

.kotak9 h1 {
    font-size: 18px;
    line-height: 0px;
}

.kotak10 {
    height: 45px;
    background-color: #FFFFFF;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    height: 45px;
    padding-top: 6px;
    box-shadow: 0px 0px 5px
}

.kotak10 h1 {
    font-size: 18px;
    line-height: 0px;
}

.kotak11 {
    height: 45px;
    background-color: #FFFFFF;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    height: 45px;
    padding-top: 6px;
    box-shadow: 0px 0px 5px
}

.kotak11 h1 {
    font-size: 18px;
    line-height: 0px;
}